@{
    ViewBag.Title = "Widget Shopfront";
}
<h2>Awesome Widget Shopfront</h2>
<h3>The awesome widget shopfront is built upon principles of awesome, a dash of uber-cool, some widgets
    and a desire to make money.</h3>

<p>You know you like it, so go on.... purhase a widget.</p>
