@model WidgetSite.Models.WidgetListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Awesome Widget shopfront</h1>
    <p class="lead">
        Select your widget, find out its cost, and buy ... buy ... buy
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Awesome Widget shopfront</h2>
        <p>
            Select the widget you would like to purchase
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Widget selection</h2>
        <select class="btn-block" id="widget-select">
        @foreach (var widg in Model.Widgets)
        {
            <option value="@widg.Id">@widg.Name (Parts Reqd: @widg.Parts.Count())</option>
        }
    </select>
    </div>
    <div class="col-md-4">
        <h2>Buy the widget!</h2>
        <p><a class="btn btn-default" id="buy-now">Buy now!</a></p>
    </div>
</div>